pyfiglet==0.8.post1 # ASCII welcome message
psycopg2-binary==2.9.4 # Python + PostgreSQL
asyncio==3.4.3  # Async socket programming (socket are not thread-safe, recv is blocking and blocks the main thread)
aioconsole==0.5.1 # Async console and interfae for asyncio
py-cpuinfo==8.0.0 # Py-cpuinfo gets CPU info with pure Python
psutil==5.9.3 # Retrieving information (CPU, memory, disks, network, sensors) in Python.
